<header>
  <div class = "header">
    <div class="header-logo">
      <a href="/">TOP</a>
    </div>
  </div>
</header>
<div class="main top-main">
  <div class="top-message">
    <h2>予約システム</h2>
    <%= button_to "予約", {controller: 'home', action: 'reserve'}, {method: :get, class: "button"}%>
    <%= button_to "変更", {controller: 'home', action: 'change'}, {method: :get, class: "button"}%>
    <%= button_to "削除", {controller: 'home', action: 'delete'}, {method: :get, class: "button"}%>
  </div>
</div>